@{
    ViewData["Title"] = "Productos";
}

@* <link href="~/lib/PlantillaStartBootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> *@
@*justify-content-between*@



<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <!-- Button trigger modal -->
        <button type="button" onclick="BuscarProducto()" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <i title="Cargar Nuevo Producto" class="fa-solid fa-plus"></i> <i title="Cargar Nuevo Producto"
                class="fa-solid fa-plus"></i>
        </button>
        <button type="button" class="btn btn-warning" onclick="Imprimir()">
            <i title="Imprimir Tabla Productos" class="fa-solid fa-download"></i>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id='files' method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="ProductoID" name="ProductoID" value="0" />
                    <div class="row">
                        <div class="col-6">
                            <label for="Nombre" class="control-label">Nombre</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" />
                            <p class="text-danger" id="Error"></p>
                        </div>
                        <div class="col-6">
                            <label for="CategoriaID" class="form-label"><b>Categorias:</b></label>
                            @Html.DropDownList("CategoriaID", null, htmlAttributes: new
                                {
                                    @class = "form-control",
                                    name = "CategoriaID"
                                })
                            <p class="text-danger" id="Error"></p>
                        </div>
                        <div class="col-12">
                            <label for="Descripcion" class="control-label">Descripcion</label>
                            <textarea type="text" class="form-control" id="Descripcion" name="Descripcion"></textarea>
                            @* <input /> *@
                            <p class="text-danger" id="Error"></p>
                        </div>
                        <div class="col-6">
                            <label for="PrecioCompra" class="control-label">Precio De Compra:</label>
                            <input type="number" class="form-control" id="PrecioCompra" name="PrecioCompra" />
                            <p class="text-danger" id="Error"></p>
                        </div>
                        <div class="col-6">
                            <label for="PrecioVenta" class="control-label">Precio De Venta</label>
                            <input type="number" class="form-control" id="PrecioVenta" name="PrecioVenta" />
                            <p class="text-danger" id="Error"></p>
                        </div>
                        <div id="ocultarr" class="col-6">
                            <label for="Stock" class="control-label">Stock</label>
                            <input type="number" class="form-control" id="Stock" name="Stock" />
                            <p class="text-danger" id="Error"></p>
                        </div>
                        <div class="col-6">
                            <label for="Imagen" class="control-label text-center">Imagen</label>
                            <input type="file" class="form-control" name="Imagen" id='Imagen'>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="LimpiarModal()" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" onclick="GuardarProductos()" class="btn btn-primary">Guardar
                        Datos</button>
                </div>
            </form>
        </div>
    </div>
</div>


<hr />


<div class="card shadow mb-4">
    <div class="card-header py-1">
        <label class="form-label display">
            <span class="form-label"><b><i class="fa-solid fa-magnifying-glass"></i> Fecha:</b></span>
            <input type="date" value="dd-MM-yyyy" class="form-control" id="buscarHasta" onchange="BuscarProducto()" />
        </label>
        <label class="form-label display">
            <span class="form-label"><b><i class="fa-solid fa-magnifying-glass"></i> Nombre:</b></span>
            <input type="text" class="form-control" id="nombre" placeholder="Buscar Por Nombre"
                onkeyup="this.value = this.value.toUpperCase();" onchange="BuscarProducto()" />
        </label>
        <label class="form-label display">
            <button type="button" class="form-control" onclick="Limpiar()">LIMPIAR</button>
        </label>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered border-primary" style="color: black;" id="Imprimir"
                width="100%" cellspacing="0">
                <thead class="table-success">
                    <tr class="text-center">
                        <th><i class="fa-solid fa-tag"></i> Nombre</th>
                        <th><i class="fa-solid fa-bars"></i> Descripcion</th>
                        <th class="ocultar550">Fecha</th>
                        <th>$ Venta</th>
                        <th>$ Compra</th>
                        <th><i class="fa-solid fa-money-bill-trend-up"></i> Stock</th>
                        <th class="ocultar550">Categoria</th>
                        <th class="ocultar550">Imagen</th>
                        <th><b><u><i class="fa-solid fa-gears"></i> Opciones:</u></b></th>
                    </tr>
                </thead>
                <tbody class="text-center" id="TablaProducto">
                </tbody>
                <thead class="table-success">
                    <tr class="text-center">
                        <th><i class="fa-solid fa-tag"></i> Nombre</th>
                        <th><i class="fa-solid fa-bars"></i> Descripcion</th>
                        <th class="ocultar550">Fecha</th>
                        <th>$ Venta</th>
                        <th>$ Compra</th>
                        <th><i class="fa-solid fa-money-bill-trend-up"></i> Stock</th>
                        <th class="ocultar550">Categoria</th>
                        <th class="ocultar550">Imagen</th>
                        <th><b><u><i class="fa-solid fa-gears"></i> Opciones:</u></b></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/Productos-1.0.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function Limpiar() {
            document.getElementById("nombre").value = "";
            document.getElementById("buscarHasta").value = "";
        }
    </script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script> *@
}