@{
    ViewData["Title"] = "Clientes";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="BuscarCliente()" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    Nuevo Registro
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitulo"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <input type="hidden" id="ClienteID" value="0" />
                        <div class="mb-3">
                            <label for="NombreCompleto" class="form-label">Nombre Completo</label>
                            <input type="text" id="NombreCompleto" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="Telefono" class="form-label">Telefono</label>
                            <input type="text" id="Telefono" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="GuardarCliente()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="table-primary">Nombre Completo</th>
            <th class="table-primary">Telefono</th>
            <th class="table-primary">Fecha De Creacion</th>
        </tr>
    </thead>
    <tbody id="TablaClientes">
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/Clientes-1.0.0.js"></script>
}