@{
    ViewData["Title"] = "Crear Ventas";
}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Detalle Venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <input type="hidden" id="DetalleVentaID" value="0" />
                        <div class="mb-3 col-12">
                            <label for="ProductoID" class="form-label"><b>Productos:</b></label>
                            @Html.DropDownList("ProductoID", null, htmlAttributes: new
                                {
                                    @class = "form-control",
                                    name = "ProductoID"
                                })
                        </div>
                        <div class="mb-3 col-6">
                            <label for="Cantidad" class="form-label"><b>Cantidades:</b></label>
                            <input type="number" id="Cantidad" class="form-control" style="text-transform:uppercase"
                                placeholder="Cantidad">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="SubTotal" class="form-label"><b>SubTotal:</b></label>
                            <input value="" type="number" step="any" id="SubTotal" class="form-control"
                                style="text-transform:uppercase" placeholder="SubTotal">
                        </div>
                        @* <div class="mb-3 col-4">
                        <label for="PrecioVenta" class="form-label"><b>Precio De Venta:</b></label>
                        <input value="" type="number" step="any" id="PrecioVenta" class="form-control"
                        style="text-transform:uppercase" placeholder="PrecioVenta">
                        </div> *@
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" onclick="AgregarDetalleVenta()" class="btn btn-primary">Guardar Datos</button>
            </div>
        </div>
    </div>
</div>

<h4>Crear Ventas</h4>
<hr />
@* <div class="row">
<div class="col-md-4"> *@
<form asp-action="Crear">
    <div class="row">
        <input type="hidden" id="VentaID" value="0" />
        <div class="mb-3 col-4">
            <label for="ClienteID" class="form-label"><b>Cliente:</b></label>
            @Html.DropDownList("ClienteID", null, htmlAttributes: new
                {
                    @class = "form-control",
                    name = "ClienteID"
                })
        </div>
        <div class="mb-3 col-4">
            <label for="TotalAPagar" class="form-label"><b>Total A Pagar:</b></label>
            <input type="number" id="TotalAPagar" class="form-control" style="text-transform:uppercase"
                placeholder="TotalAPagar">
        </div>
        <div class="mb-3 col-4">
            <label for="Fecha" class="form-label"><b>Fecha:</b></label>
            <input type="submit" id="Fecha" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group contenido">
            <input type="submit" onclick="GuardarVentas()" value="Finalizar Venta" class="btn btn-success" />
            <button type="buton" onclick="CancelarVenta()" class="btn btn-danger">Cancelar Venta</button>
        </div>
    </div>
</form>
@* </div>
</div> *@

<table class="table">
    <thead>
        <tr class="text-center">
            <th>Precio De Venta</th>
            <th>Cantidades</th>
            <th>SubTotal</th>
            <th>Nombre</th>
            <th>Opciones:</th>

            <th><!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" onclick="ListadoDetalleVentaTemporal()"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Cargar Detalle Venta
                </button>
            </th>
        </tr>
    </thead>
    <tbody id="TablaVentaCreado">
    </tbody>
</table>


@section Scripts
{
    <script src="~/js/DetalleVentas-1.0.0.js"></script>
}