@{
    ViewData["Title"] = "Listado De Promociones";
}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel1">Modal titleq</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>Cliente</th>
                            <th>Nombre Del Producto </th>
                            <th>Precio De Venta</th>
                            <th>Cantidad</th>
                            <th>SubTotal</th>
                        </tr>
                    </thead>
                    <tbody id="tablaDetalleVenta">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="GuardarPromocion()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<p class="cta">
    <a asp-action="Crear"><b>+Nueva Promocion+</b></a>
</p>

<table class="table">
    <thead>
        <tr class="text-center">
            <th>Cliente</th>
            <th>Total A Pagar </th>
            <th>Fecha de Registro</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody id="TablaVenta">
    </tbody>
</table>


@section Scripts
{
    <script src="~/js/DetalleVentas-1.0.0.js"></script>
}