html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.contenido {
  /* margin: 5px 0 5px; */
  font-size: .8em; 
  /* color: #000000; */
  display: flex;
  justify-content: space-between;
}
.contenido a{
  color: #0c0c0c;
  text-decoration: none;
}

.contenido a:hover {
  text-decoration: underline;
} 



p {
  /* color: red; */
  font-size: 1px; 
  position: relative;
}

.des:invalid  {
  border: 2px solid red;
}

.des:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
} 

.des:valid  {
  border: 2px solid black;
}