@{
    ViewData["Title"] = "Home Page";
}


@* <div class="col-6">
    <label for="Id" class="form-label"><b>Categorias:</b></label>
    @Html.DropDownList("Id", null, htmlAttributes: new
        {
            @class = "form-control",
            name = "Id"
        })
    <p class="text-danger" id="Error"></p>
</div> *@