@* @model Vista *@
@{
    ViewData["Title"] = "Vistas";
}

<h2>Productos y Categorías</h2>
<table>
    <thead>
        <tr class="text-center">
            <th>Producto</th>
            <th>Categoría</th>
            <th>Categoría</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody id="tablas">
    </tbody>
</table>


@section Scripts
{
    <script src="~/js/VistaCateProduc.js"></script>
}