@{
    ViewData["Title"] = "Categorias";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="NuevoRegistro()" data-bs-toggle="modal"
    data-bs-target="#ModalCategorias">
    Nuevo Registro
</button>

<!-- Modal -->
<div class="modal fade" id="ModalCategorias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitulo"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <input type="hidden" id="CategoriaID" value="0" />
                        <div class="mb-3 position-relative">
                            <label for="Descripcion" class="form-label">Descripcion</label>
                            <input type="text" id="Descripcion" name="Descripcion" class="form-control des" required>
                            <p id="error"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="LimpiarModal()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="GuardarRegistro()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th>Descripción</th>
            <th>Fecha de Registro</th>
            <th><b><u>Opciones:</u></b></th>
        </tr>
    </thead>
    <tbody id="tbody-categorias">
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/Categorias-1.0.0.js"></script>
}
